
/*-------------------------------------*/
/*GENERAL CONFIGURATION*/
/*-------------------------------------*/


@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 200;
    src: local('Lato Regular'), local('Lato-Regular'), url(lato-regular.ttf) format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, button, input, select, p {
    font-family: Lato, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

::-moz-placeholder, ::-webkit-input-placeholder, ::placeholder {
    font-family: Lato, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

:-ms-input-placeholder {
    font-family: Lato, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}

input, select {
    height: 35px;
    max-height: 35px;
    border-radius: 4px;
    font-size: 12px;
}

.tp_wrapper {
    outline: 0;
    font-size: 115%;
    color: #909090;
    width: 60%;
    margin: 0 20%;
}

.confirmacion{
        font-size: 10px !important;
        text-transform: uppercase !important;
        text-align: center;
}

/*-------------------------------------*/
/*GRID CONFIGURATION*/
/*-------------------------------------*/

.tp_col {
    overflow-x: hidden;
}

/*-------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------------------------*/
.tp_btn:link,
.tp_btn:hover {
    color: #fff;
}

.tp_btn {
    /*width: 75%;*/
    padding: 7px 50px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    background-color: #E6007E;
    color: #fff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0 12%;
}

.tp_btn:hover {
    background-color: #ee0075;
    color: #fff;
}

.tp_btn .tp_btn_sm {
    width: 70%;
}

.tp_btn .tp_btn_lg {
    width: 100%;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px rgba(131, 121, 112, 0.4);
    box-shadow: 0 0 2px rgba(131, 121, 112, 0.4);

}

.tp_color_text {
    color: #E6007E;
}

.tp_color_text:hover {
    color: red;
}

.element_invisible {
    overflow: hidden;
    visibility: hidden;
    height: 1px;
    position: absolute;
}

h1 {
    font-size: 140%;
}

.text_small {
    display: inline-block;
    float: left;
    font-size: 9px !important;
    margin-bottom: 6px;
}
h3 {
    font-size: 19px;
}

.billetera_virtual_tp,
.billetera_tp,
.billeterafm_tp {
    border: 1px solid rgba(196, 196, 196, 0.55);
}

.billeterafm_tp {
    display: none;
}


.tp-error {
    font-size: 11px;
    margin-top: 3px;
    color: #EA3297;
    line-height: 1;
}

.tp-error-title {
    display: flex;
    align-content: right;
    max-height: 30px;
}

.tp-input-row {
    max-height: 40px;
}


#promosLbl {
    font-size: 25px;
    margin: -14px 0 0 6px;
    font-weight: normal;
}

#tpForm {
    display: none;
}

button {
    cursor: pointer !important;
}


.tp-title {
    height: 10px;
    max-height: 20px;
}

.tp-title > label {
    text-transform: uppercase
}

.tp-title-right > label {
    text-transform: uppercase;
}

.confirmacion {
    font-size: 12px;
    text-transform: uppercase;
}


/*-------------------------------------*/
/*FORMS*/
/*-------------------------------------*/
.tp_form_control {
    margin-bottom: 5px;
    height: 35px;
    display: inline-block;
    width: 100%;
}

input.tp_form_control {
    border: 0;
    border-bottom: 1px solid #c4c4c4;
    color: #909090;

    font-size: 12px !important;
}

input[type=text].tp_form_control,
input[type=email].tp_form_control,
input[type=password].tp_form_control,
select.tp_form_control {
    background-color: #fff;
    padding: 0 3%;
    border-top: 0px solid #000;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
    border-bottom: 1px solid #c4c4c4;
    color: #909090;
}

select:disabled {
    background-color: #eeeeee;
}

.med_width {
    width: 50%;
}

.full_width {
    width: 100%;
}

#formaPagoCbx {
    display: none;
}

/*pei box*/
#peibox {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 0 0 0 !important;
    display: none;
    border: 1px solid #c4c4c4;
    color: #555369;
    background-color: #eee;
    padding: 0 0 0 0 !important;
}

.pei_wrapper{
  width:80% !important;
}

#peiLbl{
    height:77px !important;
    width: 80%;
}

#peiLbl strong {
    margin:0 0 4px 15px;
    font-size: 12px !important;
    width: 100%; 
}

#peiLbl p {
    margin:3px 0 0 15px !important;
     border-top:1px solid #000;
     font-size: 10px !important;



    border-top: 1px solid #000;
}

#peiCbx {
    margin: 0 0 0 22px;
}

.payment-method {
    display: none;
}

.billeterafm_tp {
    display: none;
    border: 1px solid #c4c4c4;
}


#tp-tarjeta-logo {
    display: none;
    width: 40px;
    transform: translateY(-100%);
    margin-left: 24%;
    position: absolute;
    padding-bottom: 6px;
}

#tp-powered {
    display: flex;
    height: 40px !important;
    float: right;
}

/*
#tp-powered img {
    margin: 0 0 0 5px;
    height: 30px !important;
}
*/

.texto_billetera_virtual p {
    font-size: 0.8em !important;
    text-align: center;
}

#bancoCbx, #mesCbx, #anioCbx, #tipoDocCbx, #promosCbx{
    font-size: 12px;
}


/*-------------------------------------*/
/*SWITCH*/
/* The switch - the box around the slider */
/*-------------------------------------*/
.switch {
    margin: 16px 26px 0 0;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* helper */
/** CVV HELPER **/

.clave-ico {
    background: transparent url(../formulario-hibrido/images/clave-ico.png) no-repeat top center;
    border: 0;
    text-indent: -999em;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 7px;
    margin-left: auto;
    outline: none;
    box-shadow: none
}

.tp-anexo {
    z-index: 1000;

}

.tp-cvv-helper-container {
    display: none;
    width: 100%;
    justify-content: right;
    height: 40px;
    flex: 0;
}

#tp-cvv-caller {
    position: absolute;
    transform: translateX(-100%);
}

#tp-cvv-helper {
    display: none;
    margin-top: 20px;
    margin-right: 20px;
    flex-direction: column;
    background: white;
    border-radius: 4px 0 4px 4px;
    border: gray;
    box-shadow: 1px 1px 3px 1px #3A3A3A;
    position: absolute;
    max-width: 300px;
    padding: 5px;
}

#tp-cvv-helper-img {
    float: left;
}



/*-------------------------------------*/
/*POPOVER*/
/*-------------------------------------*/

.popover {
    min-width: 285px;
}


/*-------------------------------------*/
/*THE SLIDER*/
/* The switch - the box around the slider */
/* Hide default HTML checkbox */
/*-------------------------------------*/
.switch {
    margin: 16px 26px 0 0;
    float: right;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #adadad;
    -webkit-transition: .4s;
    transition: .4s;

    width: 54px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e6007e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tp_pei {
    height: 115px;
}

.tp_new_line {
    display: block;
}

/*-------------------------------------*/
/*MEDIA QUERIES*/
/*-------------------------------------*/
/* Small tablet to big tablet (from 768px to 1023px) */
@media only screen and (max-width: 1023px) {
    /* zoom de 90% y de 110% */
    .campos_fecha_vencimiento{
        width: 200px
    } 

    .tp_wrapper {
        font-size: 90%;
    }

    .text_small {
        height: 20px;
    }

    .confirmacion {
        font-size: 95%;
    }
}

/* Small phones to small tablet (from 481px to 767px) */
@media only screen and (max-width: 767px) {
    .tp_col {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    .confirmacion {
        font-size: 80%;
    }
}

/* (from 0px to 480px) */
@media only screen and (max-width: 480px) {
    .tp_wrapper {
        font-size: 65%;
    }
}


.label_vencimiento{

    display: block;
    width: 100%;
}





.label_emailTxt{
    margin-bottom: 8.5px
}


#tp-powered-img{
    margin: 0 0 0 5px;

}

.tp-powered-img-prod{
    background-image: url(../images/tp_logo_prod.png);
    width: 85px !important;
    height: 30px !important;
    background-size: 83.25px 30px !important;
    background-repeat: no-repeat;

}

.tp-powered-img-dev{
    background-image: url("../images/tp_logo_developers.png");
    width: 60px !important;
    height: 30px !important;
    background-size: 60.53px 30px !important;
    background-repeat: no-repeat;
}




/* -- HEADER -- */
.tp-total {
    border: none;
    flex-direction: column;
    align-content: space-around;
    border-radius: 0;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #c1c1c1;
    width: 100%;
    margin-bottom: 20px;
}

.tp-total div {
    margin: auto;
} 


/* Alineaci贸n texto por defecto select */
#mesCbx, #anioCbx, #tipoDocCbx{
    padding-top: 4px;
    width: 97% !important;
}


/* Alineaci贸n campos de datos tarjeta */

#nroDocTxt{
    height:100%;
}


#codigoSeguridadTxt{
    height:100%;
}

#tipoDocCbx{

}



/*
#nroDocTxt, #codigoSeguridadTxt, #mesCbx, #anioCbx, #tipoDocCbx{
    margin-top: 4.5px !important;
}
*/


/* Alineaci贸n campos error */


/*


#codigoSeguridadTxt{
    margin-bottom: 5px !important
}
#nroDocLbl{
    margin-top: 5.5px !important
}
#nombreTxt{

    margin-bottom: 2px !important;
}

*/


/*PEI*/
#peiLbl strong{

    color: #909090;
    text-transform: uppercase;
}

#peiLbl p{
    text-transform: uppercase;
    color: #909090;
    font-weight: normal;
    font-size: 8px !important;
    padding-top: 5px;
}



/*PEI-Texto si/no*/
#slider-text {
    z-index: 1000;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    width: 60%;
    height: 100%;
    position: absolute;
    padding: 5px 0 0 6px;
    font-size: 12px;
    left: 0;
    color: white;
    top: 0;
}




/* Tokenpei msg */
#tokenPeiLbl strong{
    font-size: 10px !important;
    text-transform: uppercase;
}
#tokenPeiLbl p{
    font-size: 10px !important;
    text-transform: uppercase;
}



/* Fix alineaci贸n */
#nombreTxt{
margin-top: -1.5pt
}


.btnPagarConBilleteraBox{

    display: flex;
}

#numeroTarjetaLbl{
    text-transform: inherit;
}